.App {
 
 display: flex;
 justify-items: center;
}



#main-div{
  
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4,220px);
    grid-template-rows: repeat(4);
    grid-column-gap: 20px;
    grid-row-gap:  20px;
    margin: auto;
    
    
}

.per-Div{
 
  height:270px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
}

.perImage{
  width: 220px;
  height: 140px;
  margin-bottom: 2px;
  

}

.last-Div{
  text-align: left;
  color: black;
  margin-left: 5%;
}

.highlight{
  display: inline;
  
}

.last-Div1{
  line-height: 0;
  padding-left: 5%;
}

#search-filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#container{
  margin: auto;
}

input,select{
  width: 200px;
  height: 30px;
}




